@darkColor: #424242;
@hover_sublink: #e34424;
@white: #fff;
a{text-decoration: none;}
a, img, input, button, select option{border: 0;}
input:focus, textarea:focus, button:focus, select:focus, option:focus{outline: none;}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:hover{cursor: pointer;}
}
.clearfix:after {
	content : ".";
	visibility : hidden;
	display : block;
	height : 0;
	clear : both;
} 
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.border-radius (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
	-webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	-moz-border-radius: @topleft @topright @bottomright @bottomleft;
	border-radius: @topleft @topright @bottomright @bottomleft;
}
.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}
.text-shadow(@text-shadow){
	text-shadow: @text-shadow;
}
.gradient (@origin: top, @start: #ffffff, @stop: #000000) {
	background-color: @start;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
}
button{
	float: right;
	.gradient(top, #e11f0e, #f7886c);
	.box-shadow(0px 1px 2px @darkColor);
	.text-shadow(0px 1px 1px @darkColor) ;
	color: #fff;
	padding: 5px 12px;
    margin: 8px 10px 0;
	.border-radius(3px 3px 3px 3px);
	&:hover{
		.gradient(top, #f7886c, #e11f0e);
		cursor: pointer;	
	}
}