@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff2') format('woff2'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import 'mixin';
*{
	margin: 0;
	padding: 0;
}
ul, ol{list-style: none;}
body{
	font-family: 'open_sansregular', sans-serif;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
header{
	margin: 10px 0 25px;
	.border-radius(5px);
	.gradient(top, #f1f1f0, #dfdfdf);
	.box-shadow(0px 1px 3px @darkColor);
}
ul.menu{
	display: inline-block;
	.action{
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 31px;
    		left: 45px;
			width: 30px;
			height: 40px;
			background: url("../img/pattern-menu.png");
			z-index: 98;
		}
	}
	li{
		display: inline-block;
		position: relative;
		&:hover{
			.submenu{
				visibility: visible;
				opacity: 1;
				.transition(all .3s linear);
			}
		}
		a{
			color: #424242;
			font-size: 14px;
			display: block;
			padding: 11px;
			&:hover{
				background: #424242;
				color: lighten(@darkColor, 100%);
				&:first-of-type{}
			}
		}
	}
}
.submenu{
	visibility: hidden;
	opacity: 0;
	.transition(all .3s linear);
	width: 670px;
	position: absolute;
	top: 40px;
	left: 0;
	background: @darkColor;
	z-index: 99;
	overflow: hidden;
	padding: 10px 0px 20px;
	div{
		float: left;
		width: 20%;
		text-align: center;
		a{
			position: relative;
			display: block;
			padding: 0 !important;
			&:hover{background: none !important;}
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 30px;
				height: 56px;
				background: url('../img/all_img.png');
			}
		}
		.sun:before{
			background-position: 0 0;
			width: 77px;
		}
		.bus:before{
			background-position: -82px 0;
			width: 71px;
		}
		.mountains:before{
			background-position: -157px 0;
			width: 84px;
		}
		.air:before{
			background-position: -245px 0;
			width: 95px;
		}
		.palm:before{
			background-position: -345px 0;
			width: 67px;
		}
	}
	ul{
		position: relative;
		margin: 80px 0 0 0;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 2px;
			height: 190px;
			background: url(../img/border_menu.png);
		}
		li{
			display: block;
			a{
				color: #fff;
				padding: 0;
				font: 14px/20px "Calibri";
				&:hover{
					color: @hover_sublink; 
				}
			}
		}
	}
}
main{}
.tour_description{
	position: relative;
	z-index: 15;
	.picture{
		float: left;
		position: relative;
	}
	.stock{
		width: 168px;
		height: 38px;
		position: absolute;
		top: 80%;
		left: -10px;
		background: url('../img/sprite.png') no-repeat;
		color: @white;
		p{
			float: left;
			font-size: 24px;
			margin: 3px 0 0 12px;
			span{
				font-size: 12px;
				float: left;
				display: block;
				padding-right: 10px;
				line-height: 36px;
			}
		}
		span{
			text-align: center;
		    display: block;
		    line-height: 12px;
		    font-size: 12px;
		    margin: 8px 0 0 0;
		    &:last-of-type{
		    	margin: 0;
		    }
	
		}
	}
}
.description{
	float: right;
	.gradient(top, #f8f8f8, #e8e8e8);
	position: relative;
	padding: 15px 15px 10px;
	width: 301px;
	.box-shadow(-2px 1px 2px lighten(@darkColor, 10%));
	&:before{
		content: '';
		display: block;
		width: 7px;
		height: 6px;
		position: absolute;
		top: -2px;
		left: -6px;
		background: url("../img/shadow.jpg") 0 0 no-repeat;	
	}
	.top{
		border-bottom: 1px solid lighten(@darkColor, 50%);
		padding-bottom: 10px;
		h1{
			color: @darkColor;
			font-size: 36px;
			font-family: 'open_sansregular', sans-serif;
		}
		p{
			font-size: 13px;
			color: lighten(@darkColor, 40%);
		}
	}
	.price{
		p{
			font-size: 13px;
			color: lighten(@darkColor, 40%);
			padding: 3px 0;
		}
		.priceRow{
			clear: both;
			.city{
				display: block;
				color: @darkColor;
				font: normal 18px 'open_sansregular';
				width: 150px;
				float: left;
			}
		}
		span{
			float: right;
			color: @darkColor;
			font: bold 20px 'open_sansregular', sans-serif;
		}
	}
}
.wrap_filter{
	position: relative;
	top: -99px;
	z-index: 1;
	.transition(top .3s linear);
	.show_button{
		display: block;
		position: relative;
		margin: 0 auto;
		width: 124px;
		height: 30px;
		background: url("../img/show_button.png");
		text-align: center;
		color: @white;
		font: bold 14px/26px 'Calibri';
		&:hover{cursor: pointer;}
	}
}
.expand{
	top: 0px;
	.transition(top .3s linear);
}
.filter{
	.gradient(top,@white,darken(@white, 15%));
	border-bottom: 1px solid #efefef;
	margin: 15px 0 0px;
	.border-radius(5px 5px 5px 5px);
	position: relative;
	h2{
		color: @white;
		background: #585858;
		display: block;
		position: relative;
		font-size: 16px;
		font-weight: normal;
		padding: 17px 5px;
		float: left;
		.border-radius(5px 0 0 5px);
		&:before{
			content: '';
  		    display: block;
		    position: absolute;
	   		top: 0;
		    right: -41px;
		    width: 0;
			height: 0;
			border-right: 41px solid transparent;
			border-left: 0px solid transparent;
			border-top: 78px solid #585858;
		}
	}
}
.parentSelect{
	float: left;
	text-align: center;
	padding: 20px 0;
	margin: 0 25px 0 0;
	&:first-of-type{margin-left: 35px;}
	&:last-of-type{margin-right: 0;}
	span{
		font-size: 12px;
		display: block;
		clear: both;
		color: #b0b0b0;
		margin: -15px 0 5px;
	}
	.over{
		width: 150px;
		overflow: hidden;
		margin: 0;
		.gradient(top, @white, #dfdfdf);
		.box-shadow(0px 1px 1px lighten(@darkColor, 20%));
		.border-radius(5px 5px 5px 5px); 
		select{
			color: @darkColor;
			font-size: 14px;
			width: 170px;
			padding: 4px 5px;
			border: 0;
			border-top: 1px solid #cecece;
			position: relative;
			.border-radius(5px 5px 5px 5px);
			background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 120px center;
			option{
				&:hover{
					background: @darkColor;
					color: @white;
				}
			}
		}
	}
	.hotel{
		width: 100px;
		select{
			width: 120px;
			background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 70px center;
		}
	}
	.night{
		width: 70px;
		select{
			width: 90px;
			background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 40px center;
		}
	}
	.people{
		width: 120px;
		select{
			width: 140px;
			background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 90px center;
		}
	}
}
.inputWrap{
	padding: 1px;
	margin-top: -1px;
	overflow: hidden;
	position: relative;
	p{
		float: right;
		color: @darkColor;
		font-size: 14px;
		margin: 0 0 0 7px;
		line-height: 27px;
	}
	input[type="text"]{
		width: 70px;
		padding: 0px;
		margin: 0 7px 0 0;
		height: 27px;
	   width: 27px;
	   float: left;
	   text-align: center;
	   .gradient(top, @white, #dfdfdf);
		.box-shadow(0px 1px 1px lighten(@darkColor, 20%));
		.border-radius(3px);
		&:hover{cursor: pointer;} 
	}
	#checkbox{visibility: hidden;}
	label{
		display: block;
		position: absolute;
		top: 5px;
	   left: 32px;
	   width: 20px;
	   height: 20px;
		.gradient(top, @white, #dfdfdf);
		.box-shadow(0px 1px 1px lighten(@darkColor, 20%));
		.border-radius(3px); 
		cursor: pointer;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: -2px;
			left: 3px;
			font-size: 17px;
		}
		&:hover:before{
			content: '\2714';
			opacity: 0.4;
		}
	}
	#checkbox:checked ~ label:before{content: '\2714';}
}
.groupTour{
	overflow: hidden;
	.row{
		position: relative;
		.gradient(top,@white,#ededed);
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid #dbdbdb;
		.border-radius(5px);
		overflow: hidden;
		margin: 7px 0;
		.item{
			position: absolute;
			background: #424242;
			color: @white;
			width: 40px;
			height: 22px;
	  		line-height: 23px;
			padding: 0;
			margin: 0;
			text-align: center;
			&:before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: 0;
				right: -15px;
				border-right: 15px solid transparent;
				border-left: 0 solid transparent;
				border-top: 22px solid @darkColor;
			}
		}
		div{
			display: block;
			float: left;
			border-left: 1px solid #efefef;
			border-right: 1px solid #fdfdfd;
			padding: 0px 16px 0 22px;
			line-height: 41px;
			&:first-of-type{border: 0;}
			&:last-of-type{border-right: 0;}
			p{
				float: left;
				font-size: 18px;
				.star{
					color: red;
					padding: 0 10px 0 5px;
					display: inline-block;
					position: relative;
					sub{
						color: red;
						font-weight: bold;
						position: absolute;
						top: -4px;
						left: 11px;
						padding: 0 5px;
					}
				}
			}
		}
		.title{
			font-size: 12px;
			color: #b0b0b0;
		}
		.hotel{
			border-left: 0;
			padding-left: 60px;
		}
		.town, .date, .human{
			p{font-size: 14px;}
		}
		.date{padding-right: 0; width: 145px;}
		.human{border-right: 1px solid transparent;}
		.price{
			background: @darkColor;
			color: @white;
			position: relative;
			font-size: 24px;
			font-weight: bold;
			padding: 0 85px 0 10px;
			margin-left: 24px;
		   line-height: 43px;
			border-left: 1px solid transparent;
			width: 70px;
			&:before{
				content: '';
			    display: block;
			    position: absolute;
			    top: 0;
			    left: -29px;
			    width: 0;
			    height: 0;
			    border-right: 0px solid  @darkColor;
			    border-left: 28px solid transparent;
			    border-top: 43px solid  @darkColor;
			}
			a{
				display: block;
				color: @white;
				position: absolute;
				background: url("../img/button_filter.png") no-repeat;
				width: 82px;
				height: 24px;
				right: 0;
				top: -1px;
				font-size: 12px;
				font-weight: bold;
				line-height: 21px;
				text-indent: 13px;
			}
		}
	}	
}
	
footer{
	.gradient(top, #3e3e3e, @darkColor);
	.border-radius(5px);
	margin: 10px 0 15px 0;
	text-align: right;
	padding: 10px;
	button{
		float: none;
		margin: 0;
	}
}

